*{
    box-sizing: border-box;
}

/*# 선택자(selector)*/

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

div#header-center {
    margin: 0 auto; 
    width: 1300px;  
}
/* div는 생략가능*/


#header-search > h1 {
    width: 432px;
    height: 71px;
    display: inline-block;
    background: url(./sp_search.png) -16px -342px no-repeat;
}

#header-search h1 span {
    display: none;
}

/*
#header-center h1 {
 자손 선택자(보통 자손으로 씀)
}
*/

#header-search h2 {
    display: none;
}

#header-search fieldset {
    margin-left: 20px
    padding: 12px 0 12px 10px;
    /* 시계방향(위-오른-아래-왼) */

    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d;
    box-sizing: border-box;
}

#header-search fieldset input {
    border: none;
    padding: 0 ;
    outline: none;
}

#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    
}

#search-image {
    background-image: url(./sp_search.png);
    background-position: 43px -43px;
    
    height: 69px;
    display: inline-block;
    width: 41px;
}

